body{
    background-color: aquamarine;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .conHeader{
    border: 5px solid black;
    margin-top: 13%;
    padding-bottom: 2%;
    background-color: blanchedalmond;
}

.container h1{
    text-align: center;
    color: red;
    text-align: center;
}

.container button{
    text-align: center;
    font-size: larger;
    margin-left: 45%;
    background-color: black;
    color: white;
}

.quizTimer{
    display: none;
    justify-content: center;
    align-items: center;
}

.quizTimer p{
    font-size: larger;
    color: black;
}

.container2{
    display: none;
    justify-content: center;
    align-items: center;
}

.container2 #quizStart{
    border: 5px solid black;
    margin-top: 13%;
    padding-bottom: 2%;
    background-color: blanchedalmond;
}

.container2 h1{
    color: red;
    font-size: xx-large;
    text-align: center;
}

.container2 button{
    text-align: center;
    font-size: larger;
    margin-left: 45%;
    background-color: black;
    color: white;
}

.container3{
    display: none;
    justify-content: center;
    align-items: center;
}

.container3 #quizQ2{
    border: 5px solid black;
    margin-top: 13%;
    padding-bottom: 2%;
    background-color: blanchedalmond;
}

.container3 h1{
    color: red;
    font-size: xx-large;
    text-align: center;
}

.container3 button{
    text-align: center;
    font-size: larger;
    margin-left: 45%;
    background-color: black;
    color: white;
}

.container4{
    display: none;
    justify-content: center;
    align-items: center;
}

.container4 #quizQ3{
    border: 5px solid black;
    margin-top: 13%;
    padding-bottom: 2%;
    background-color: blanchedalmond;
}

.container4 h1{
    color: red;
    font-size: xx-large;
    text-align: center;
}

.container4 button{
    text-align: center;
    font-size: larger;
    margin-left: 45%;
    background-color: black;
    color: white;
}

.container5{
    display: none;
    justify-content: center;
    align-items: center;
}

.container5 #quizQ4{
    border: 5px solid black;
    margin-top: 13%;
    padding-bottom: 2%;
    background-color: blanchedalmond;
}

.container5 h1{
    color: red;
    font-size: xx-large;
    text-align: center;
}

.container5 button{
    text-align: center;
    font-size: larger;
    margin-left: 45%;
    background-color: black;
    color: white;
}

.container6{
    display: none;
    justify-content: center;
    align-items: center;
}

.container6 #quizQ5{
    border: 5px solid black;
    margin-top: 13%;
    padding-bottom: 2%;
    background-color: blanchedalmond;
}

.container6 h1{
    color: red;
    font-size: xx-large;
    text-align: center;
}

.container6 button{
    text-align: center;
    font-size: larger;
    margin-left: 45%;
    background-color: black;
    color: white;
}

.container7{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container7 h1{
    text-align: center;
    margin-top: 10%;
    width: 100%;
    order: 1;
    font-size: 60px;
}

.container7 h2{
    text-align: center;
    width: 100%;
    margin-top: 10%;
    order: 2;
    font-size: 30px;
}

.container7 h3{
    text-align: center;
    order: 3;
    flex-shrink: 0;
    padding-left: 10%
}

.container7 input{
    order: 4;
    flex-shrink: 0;
    margin-left: 25%;
}

.container7 button{
    order: 5;
    text-align: center;
    font-size: larger;
    background-color: black;
    color: white;
    margin-left: 25%;
}

.scorePage{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.scorePage h1{
    text-align: center;
    margin-top: 10%;
    width: 100%;
    order: 1;
    font-size: 60px;
}

.scorePage ol{
    text-align: center;
    width: 100%;
    order: 2;
    font-size: 30px;
    color: red;
}

.scorePage button{
    order: 3;
    text-align: center;
    font-size: larger;
    background-color: black;
    color: white;
}

